.header
  padding: var(--page-spacings)
  text-align: center

.name
  font-family: var(--secondary-font)
  font-size: 1.3rem

.navigation-list
  display: flex
  justify-content: space-between

.navigation-item
  list-style: none

@media (--tablet)
  .header
    max-width: var(--max-page-width)
    margin: 0 auto
    text-align: left
