.header
  padding: var(--page-spacings)

.name
  font-family: var(--secondary-font)
  font-size: 1.3rem
  text-align: center

.navigation-list
  display: flex
  justify-content: space-between

.navigation-item
  list-style: none
