:root
  color-scheme: light dark

  --indent-base: 2rem
  --indent-half: 1rem
  --color-main: #b35ae8
  --color-gray: #ababab
  --color-base: #333
  --color-bg: #fff
  --color-headline: var(--color-base)
  --color-hr: #d8d8d8

@media (prefers-color-scheme: dark)
  :root
    --color-base: #b2b2b2
    --color-bg: #222
    --color-gray: #707070
    --color-headline: #dcdcdc
    --color-hr: #505050
