:root
  color-scheme: light dark

  --primary-font: 'Open Sans', sans-serif
  --secondary-font: 'Fira Sans', sans-serif
  --color-base: #333

  --page-spacings: 1rem


@media (--mobile-medium)
  :root
    --page-spacings: 1rem 2rem

/* @media (prefers-color-scheme: dark)
  :root
    --color-base: #b2b2b2
    --color-bg: #222
    --color-gray: #707070
    --color-headline: #dcdcdc
    --color-hr: #505050 */
