header.header
  .name Marat Abdulin
  nav
    ul.navigation-list
      li.navigation-item
        a.navigation-link(href="/") Home
      //- li.navigation-item
        a.navigation-link(href="#") About
      //- li.navigation-item
        a.navigation-link(href="#") Projects
      li.navigation-item
        a.navigation-link(href="/resume.pug") Résumé
      //- li.navigation-item
        a.navigation-link(href="#") Blog
