header.header
  .name Marat Abdulin
  nav
    ul.navigation-list
      li.navigation-item
        a(href="/") Home
      //- li.navigation-item
        a(href="#") About
      //- li.navigation-item
        a(href="#") Projects
      li.navigation-item
        a(href="/resume.pug") Résumé
      //- li.navigation-item
        a(href="#") Blog
