doctype html
html(lang='en')
  head
    title Marat Abdulin | Front-end engineer
    link(rel='stylesheet', href='./index.sss')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    main.content
      p.big Hi there,
      p.big
        | I’m Marat Abdulin,
        br
        | a #[mark.highlight front-end engineer] at Earnest based in Kazan, Russia.
      p I enjoy working on performance issues, creating better UX, and solving complex problems in frontend. I love writing simple and clear code that easy for supporting and changing.
      hr
      section.contacts
        .list-wrapper
          h3 Get in touch
          ul.contacts-list
            li Email #[a(href="mailto:esend.work@gmail.com") esend.work@gmail.com]
            li LinkedIn #[a(href="https://www.linkedin.com/in/esender/") esender]
            li Telegram #[a(href="https://t.me/esender") esender]
            li Keybase #[a(href="https://keybase.io/esender") esender]
        .list-wrapper
          h3 Follow me
          ul.contacts-list
            li Twitter #[a(href="https://twitter.com/esender_") esender_]
            li Twitch #[a(href="https://twitch.tv/letscode_io") letscode-io]
            li GitHub #[a(href="https://github.com/esender") esender]
