doctype html
html(lang='en')
  head
    title My Personal WebSite
    link(rel='stylesheet', href='./index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .page
      header.header
        h1.logo Marat Abdulin
        //- nav.navigation
          a.nav-item(href='') Home
          a.nav-item(href='') About
          a.nav-item(href='') Projects
      main
        section.homepage
          h1 Hi, I'm Marat!
          p I’m a frontend engineer at Earnest
      footer
        a.contact(href='') Email
        |  •
        |
        a.contact(href='') LinkedIn
        |  •
        |
        a.contact(href='') Twitter
        |  •
        |
        a.contact(href='') Keybase
        |  •
        |
        a.contact(href='') Instagram
