doctype html
html(lang='en' itemscope itemtype='http://schema.org/Person')
  head
    meta(charset='UTF-8')
    title Marat Abdulin
    meta(name='description' content='Contacts of Marat Abdulin')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='./icon-32x32.png' sizes='32x32')
    link(rel='stylesheet', href='./index.sss')
    meta(itemprop='gender' content='male')
    link(itemprop='url' href='https://esender.me')
  body
    main.content
      p.big Hi there,
      p.big
        | I’m Marat Abdulin,
        br
        | a #[mark.highlight front-end engineer] at Earnest based in Kazan, Russia.
      p I enjoy working on performance issues, creating better UX, and solving complex problems in frontend. I love writing simple and clear code that easy for supporting and changing.
      hr
      section.contacts
        .list-wrapper
          h3 Get in touch
          ul.contacts-list
            li Email #[a(href="mailto:esend.work@gmail.com") esend.work@gmail.com]
            li LinkedIn #[a(href="https://www.linkedin.com/in/esender/") esender]
            li Telegram #[a(href="https://t.me/esender") esender]
            li Keybase #[a(href="https://keybase.io/esender") esender]
        .list-wrapper
          h3 Follow me
          ul.contacts-list
            li Twitter #[a(href="https://twitter.com/esender_") esender_]
            li Twitch #[a(href="https://twitch.tv/letscode_io") letscode-io]
            li GitHub #[a(href="https://github.com/esender") esender]
      script.
        document.documentElement.style.setProperty('--color-main', ['#b35ae8', '#635ae8', '#e85a5a', '#5a72e8'][parseInt(Math.random()*4)])
