doctype html
html(lang='en' itemscope itemtype='http://schema.org/Person')
  head
    meta(charset='UTF-8')
    title Marat Abdulin
    meta(name='description' content='Contacts of Marat Abdulin')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='./favicon.png' sizes='32x32')
    link(rel='stylesheet', href='./index.sss')
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans:400,400i,700&display=swap&subset=cyrillic" rel="stylesheet")
    meta(itemprop='gender' content='male')
    link(itemprop='url' href='https://esender.me')
  body
    header.header
      .name Marat Abdulin
      //- nav
        ul.navigation-list
          li.navigation-item
            a.navigation-link(href="#") Home
          li.navigation-item
            a.navigation-link(href="#") About
          li.navigation-item
            a.navigation-link(href="#") Projects
          li.navigation-item
            a.navigation-link(href="#") CV
          li.navigation-item
            a.navigation-link(href="#") Blog
    main.main
      h1.greeting #[span.hey Hi,] I am Marat Abdulin 👋
      h2.who-i-am A software engineer based in Kazan, Russia
      p I write in JavaScript and Ruby. I enjoy working on performance issues, creating better UX, and solving complex problems.
      //- p You also can browse #[a(href) who I am] or check out my #[a(href) projects] page.
    hr.delimiter
    footer.footer
      a(href="mailto:marat@esender.me") marat@esender.me
      .or or
      ul.social-links
        li.social-links-item
          a(href="https://www.linkedin.com/in/esender/")
            svg.social-icon
              use(xlink:href="./images/social-icons.svg#linkedin")
        li.social-links-item
          a(href="https://t.me/esender")
            svg.social-icon
              use(xlink:href="./images/social-icons.svg#telegram")
        li.social-links-item
          a(href="https://twitter.com/esender_")
            svg.social-icon
              use(xlink:href="./images/social-icons.svg#github")
        li.social-links-item
          a(href="https://github.com/esender")
            svg.social-icon
              use(xlink:href="./images/social-icons.svg#twitter")
