doctype html
html(lang='en' itemscope itemtype='http://schema.org/Person')
  head
    meta(charset='UTF-8')
    title Marat Abdulin
    meta(name='description' content='Contacts of Marat Abdulin')
    include parts/head.pug
  body
    include parts/header.pug
    main.container
      .content
        h1.greeting #[span.hey Hi,] I am Marat Abdulin #[span.wave 👋]
        h2.who-i-am A software engineer based in Kazan, Russia
        p My favorite language is JavaScript. I'm fond of solving performance issues and working on non-trivial problems. My experience allows me to choose the best solutions for business and development. I'm motivated by working on a useful product.
        p If you are looking for a software engineer you can take a look at my #[a(href='/resume.pug') résumé page] or just download it right from #[a(href=resume_link) here].
        //-More about me, my axperience and interests.
        //- p You also can browse #[a(href) who I am] or check out my #[a(href) projects] page.
    .container
      hr.delimiter
    include parts/footer.pug
