@import './normalize.css';
@import './styles/variables.css';
@import './styles/typography.css';


p, hr {
  margin-top: var(--indent-base);
  margin-bottom: var(--indent-base);
}

hr {
  background-color: #D8D8D8;
  height: 1px;
  border: none;
}

.content {
  padding: 0 var(--indent-base) var(--indent-base);
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list li {
  line-height: 1.75rem;
}
