include parts/_mixins.pug

doctype html
html(lang='en' itemscope itemtype='http://schema.org/Person')
  head
    meta(charset='UTF-8')
    title Marat Abdulin
    meta(name='description' content='Contacts of Marat Abdulin')
    include parts/head.pug
  body
    include parts/header.pug
    main.container
      .content
        h1 Projects
        .projects
          .project
            h2 "Let's Code" Streams
            ul.project-links
              li
                +icon('twitch', 'project-icon')
                a.project-link(href="https://www.twitch.tv/letscode_io") Twitch
          .project
            h2 YouAnno
            p The chrome extension that puts a nice block with useful timecodes under each YouTube video. Work in progress.
            ul.project-links
              li
                +icon('github', 'project-icon')
                a.project-link(href="https://github.com/letscode-io/youanno") Frontend
              li
                +icon('github', 'project-icon')
                a.project-link(href="https://github.com/letscode-io/youanno-api") Backend
    .container
      hr.delimiter
    include parts/footer.pug
